body {
    background: #f2f2f2;
}
.detail-list li {
    background: #fff;
    border: 1px solid #0D0D0D33;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-form label {
    font-family: 'Poppins', sans-serif;
    color: #0D0D0D;
    font-weight: 600;
}
.detail-form button {
    background: transparent linear-gradient(105deg, #485922 0%, #0D0D0D 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    display: table;
    border: none;
    padding: 12px 60px;
}

.select-images .container{
    border: 0px !important;
}
.detail-form textarea { 
    resize: none;
}
.f-semi {
    font-weight: 600;
}
.image-update {
    width: 210px;
    height: 210px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0D0D0D33;
    border-radius: 5px;
}
.image-update span {
    width: 35px;
    height: 35px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    text-align: right;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}


@media screen and (max-width: 767px) {
    .property-detail-second h3 {
        text-align: center;
        margin-bottom: 20px!important;
    }
    .property-detail-second .justify-content-end {
        justify-content: center!important;
    }
}